default: &default
  adapter: mysql2
  collation: utf8_unicode_ci
  username: root
  pool: 5
  timeout: 5000

development: &development
  <<: *default
  database: ruby_presentation_capgemini_development

test: &test
  <<: *default
  database: ruby_presentation_capgemini_test
